body{
    background-image: url("https://resources.diariolibre.com/images/binrepository/alvaro-morte-el-profesor-2_16378276_20210512232145-focus-0-0-895-573.jpg");
    width: 300px; height: 150px
    
}

body {
width: 1000px;
image-resolution: 1000%;
margin-left: 50px;
height: 550px;


}
body h2{
    background-color: rgb(214, 18, 18);
}